:root {
  --b1: #274c77;
  --b2: #6096ba;
  --b3: #a3cef1;
  --g1: #e7ecef;
}

* {
  margin:0%;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--b1);
}

main {
  margin-bottom: 30px;
}

header {
  background: var(--b3);
  height: auto;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

header a {
  padding: 1% 2%;
}

#profile-pic img {
  width: 98%;
}

#about-me {
  text-align: justify;
}

#about-me p {
  margin-bottom: 10px;
}

#about-me a {
  font-weight: bold;
}

footer {
  background: var(--b3);
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}

/* flexbox classes */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
  justify-content: center;
}

.top {
  /* background: var(--g1); */
  margin: 20px;
  width: 80%;
  text-align: center;
  padding: 1%;
}

.middle {
  background: var(--g1);
  margin: 0px, 10px, 10px, 10px;
  padding: 10px;
  width: 80%;
}

.left {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  padding-right: 5px;
}

.right {
 width: 49%;
 display: inline-block;
 vertical-align: top;
 padding-left: 5px;
}